mixin input()
    case field.tag
        when select
            div(class=field.column_class?field.column_class:'col-12')
                .form-group
                    label(for=field.id)= field.label
                        if field.required == true
                            sup.text-danger &nbsp;*
                    select
        default
            div(class=field.column_class?field.column_class:'col-12')
                .form-group
                    label(for=field.id)= field.label
                        if field.required == true
                            sup.text-danger &nbsp;*
                    input(
                        id=field.id, 
                        class='form-control form-control-'+field.sizing,
                        name=field.id, 
                        type=field.type, 
                        placeholder=field.placeholder, 
                        value=field.value, 
                        required='required'?field.required:'false')
                    if field.describedby_text
                        small.form-text.text-muted(id=field.describedby)= field.describedby_text
                    if field.invalid_text
                        .invalid-feedback= field.invalid_text
                    if field.valid_text
                        .valid-feedback= field.valid_text