extends ../../layouts/default.pug

block content
    .page.docs Forms
        a.link(href='/') Главная

        .container-fluid
            .row
                .col-xl-2
                .col-xl-10
                    table.table
                        thead.thead-dark
                            tr
                                th mixin
                                th params
                                th preview
                        tbody
                            tr
                                td +input([params])
                                td
                                    span field.[param]
                                    br
                                    code "id": "idName"
                                    br
                                    code "type": "type"
                                    br
                                    code "column_class": "col-xl-1"
                                    br
                                    code "name": "name"
                                    br
                                    code "placeholder": "placeholder"
                                td preview

