.header {
    &--top {
        padding: 0;
        margin: 0;
        border-bottom: 1px solid $gray;

        ul {
            display: inline-flex;
            margin: 0;
            padding: 0;

            li {
                list-style: none;
                margin: 0;
                padding: 0;

                a {
                    display: inline-flex;
                    border-left: 1px solid $gray;
                    padding: 0 1.25rem;
                    align-items: center;
                    height: 50px;
                    font-size: 13px;
                    line-height: 20px;
                    color: $f-gray;
                    @media (max-width: 380px) {
                        height: 40px;
                    }

                    @media (max-width: 767px) {
                        padding: 0 .5rem;
                    }

                    @media (max-width: 380px) {
                        padding: 0 1.25rem;
                    }

                    span {
                        @media (max-width: 380px) {
                            display: none;
                        }
                    }

                    i {
                        display: none;

                        @media (max-width: 380px) {
                            display: inline;
                            font-size: 20px;
                        }

                        &.icon-whatsapp {
                            display: inline;
                            font-size: 26px;

                            @media (max-width: 380px) {
                                font-size: 20px;
                            }
                        }
                    }

                    &:hover,
                    &:focus {
                        text-decoration: none;
                        color: $f-base;
                        background-color: $gray;
                    }
                }

                &:last-child {
                    a {
                        border-right: 1px solid $gray;
                    }
                }
            }
        }
    }
}