.header--top.bg-light
    .container-fluid
        .row
            .col-8.col-sm-8.col-md-6.text-left
                ul
                    li
                        +link({url:'mail:m.mudi@list.ru', text:'m.mudi@list.ru', icon:'mail'})
                    li
                        +link({url:'tel:79192723666', text:'+7 (919) 272-36-66', icon:'phone'})
            .col-4.col-sm-4.col-md-6.text-right
                ul
                    li
                        +link({url:'#', title:'Связь по WhatsApp', icon:'whatsapp'})
.header--bottom