//- Настройки проекта
include ../../configuration/project.pug

//- Все ссылки между страницами
include ../../configuration/routes.pug

//- Все компоненты
include ../components/components.pug

//-
    Переменные head со страниц:
    title, description, keywords
block head

doctype
html(lang=project.lang?project.lang:'ru')
    head
        title= title?project.name+' - '+title:project.name
        meta(charset=project.charset)
        meta(name='viewport', content='width=device-width, initial-scale=1.0')
        meta(http-equiv='X-UA-Compatible', content='ie=edge')
        meta(name='description', content=description?description:'')
        meta(name='keywords', content=keywords?keywords:'')
        meta(name='theme-color', content=project.themeColor?project.themeColor:'#ffffff')
        block style
            link(rel='stylesheet', href='/assets/css/vendor.min.css')
            link(rel='stylesheet', href='/assets/css/style.min.css')
    body
        +preloader({type:'border', color:'warning', size:'50px', title:'Загрузка ...'})
        header
            include ../sections/header/header.pug
        main
            block content
        footer
        block script
            script(src='/assets/js/vendor.min.js')
            script(src='/assets/js/script.min.js')