-
    var routes = [
        {
            "title": "Главная",
            "text": "Ссылка 1",
            "url": "/"
        }, {
            "title": "О компании",
            "text": "Ссылка 2",
            "url": "/about.html"
        }
    ]