extends ../layouts/default.pug

block head
    - var title = 'Главная страница';
    - var keywords = 'keywords123';
    - var description = 'description321';

block content
    .page.home Главная
        a.link(href='/about/about.html') About
        .container
            span#toggler Скрыть
            p#descr Lorem ipsum dolor sit amet consectetur adipisicing elit. Nesciunt qui adipisci animi quibusdam temporibus quos eligendi, reprehenderit eius necessitatibus! Dicta numquam similique unde eaque dolores sapiente asperiores ab beatae voluptates.

        .container
            each form in forms
                form(id=form.name, class=form.validate?'needs-validation':'',action=form.action, method=form.method)&attributes(form.validate?{'novalidate':form.validate}:'')
                    .form-row
                        each fieldset in form.fieldsets
                            fieldset(class=fieldset.column_class?fieldset.column_class:'col-12', name=fieldset.name)&attributes(fieldset.disabled?{'disabled':fieldset.disabled}:'')
                                if fieldset.legend
                                    .form-row
                                        legend.col-12= fieldset.legend
                                .form-row
                                    each field in form.fields
                                        if field.fieldset_parrent === fieldset.fieldset_name
                                            div(class=field.column_class?field.column_class:'col-12')
                                                .form-group
                                                    case field.type
                                                        when 'textarea'
                                                            label(for=field.id)= field.label
                                                                if field.required == true
                                                                    sup.text-danger &nbsp;*
                                                            textarea.form-control(id=field.id, name=field.id, rows=field.rows, aria-describedby=field.describedby, placeholder=field.placeholder, required='required'?field.required:'false', readonly='readonly'?field.readonly:'false')
                                                            if field.describedby_text
                                                                small.form-text.text-muted(id=field.describedby)= field.describedby_text
                                                            if field.invalid_text
                                                                .invalid-feedback= field.invalid_text
                                                            if field.valid_text
                                                                .valid-feedback= field.valid_text
                                                        when 'checkbox'
                                                            label= field.checkbox_title
                                                            .form-check
                                                                input.form-check-input(id=field.id, type=field.type value=field.value required='required'?field.required:'false', readonly='readonly'?field.readonly:'false')
                                                                label.form-check-label(for=field.id)= field.label
                                                        when 'radio'

                                                        default
                                                            label(for=field.id)= field.label
                                                                if field.required == true
                                                                    sup.text-danger &nbsp;*
                                                            input(
                                                                id=field.id, 
                                                                class='form-control form-control-'+field.sizing,
                                                                name=field.id, 
                                                                type=field.type, 
                                                                placeholder=field.placeholder, 
                                                                value=field.value, 
                                                                required='required'?field.required:'false')
                                                            if field.describedby_text
                                                                small.form-text.text-muted(id=field.describedby)= field.describedby_text
                                                            if field.invalid_text
                                                                .invalid-feedback= field.invalid_text
                                                            if field.valid_text
                                                                .valid-feedback= field.valid_text
                        each field in form.fields
                            if field.fieldset_parrent
                            else
                                case field.tag
                                    when select
                                        div(class=field.column_class?field.column_class:'col-12')
                                            .form-group
                                                label(for=field.id)= field.label
                                                    if field.required == true
                                                        sup.text-danger &nbsp;*
                                                select
                                    default
                                        div(class=field.column_class?field.column_class:'col-12')
                                            .form-group
                                                label(for=field.id)= field.label
                                                    if field.required == true
                                                        sup.text-danger &nbsp;*
                                                input(
                                                    id=field.id, 
                                                    class='form-control form-control-'+field.sizing,
                                                    name=field.id, 
                                                    type=field.type, 
                                                    placeholder=field.placeholder, 
                                                    value=field.value, 
                                                    required='required'?field.required:'false')
                                                if field.describedby_text
                                                    small.form-text.text-muted(id=field.describedby)= field.describedby_text
                                                if field.invalid_text
                                                    .invalid-feedback= field.invalid_text
                                                if field.valid_text
                                                    .valid-feedback= field.valid_text
                    button.btn.btn-primary(type='submit') Отправить
