mixin preloader(data)
    - var type = data.type ? 'spinner-'+data.type : 'spinner-default';
    - var size = data.size ? data.size : '';
    - var color = data.color ? 'text-'+data.color : 'text-success';
    - var title = data.title ? data.title : 'Загрузка...';

    #loaded.justify-content-center.align-items-center
        .preloader(role='status', class=type+' '+color, style='width: '+size+'; height: '+size+';')
            span.sr-only= title